<div class="modal fade" id="forgotpassword">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Password Recovery</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="forgotpassword_wrap">
            <div class="col-md-12">
              <div class="animatedfadeIn alert alert-danger" id="errorMsg" *ngIf="isFailed">
                <i class="fa fa-warning"></i>&nbsp;&nbsp;{{message }}
              </div>
              <div class="animatedfadeIn alert alert-success" *ngIf="isSuccessful">
                <i class="fa fa-check"></i>&nbsp;&nbsp;{{ message }}
              </div>
              <form name="form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <input type="text" placeholder="Email *" formControlName="email"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="alert-danger">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Mobile Number *" formControlName="mobilenumber" class="form-control" />
                  <div *ngIf="submitted && f.mobilenumber.errors" class="alert-danger">
                    <div *ngIf="f.mobilenumber.errors.required">Mobile Number is required</div>
                    <div *ngIf="f.mobilenumber.errors.pattern">Mobile Number must be a valid email address</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password *" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="alert-danger">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Confirm Password *" formControlName="confirmPassword"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                  <div *ngIf="submitted && f.confirmPassword.errors" class="alert-danger">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="submit" value="Reset My Password" name="update" class="btn btn-block">
                </div>
              </form>
              <div class="text-center">
                <p class="gray_text">For security reasons we don't store your password. Your password will be reset and
                  a new one will be send.</p>
                <p><a href="#loginform" data-toggle="modal" data-dismiss="modal"><i class="fa fa-angle-double-left"
                      aria-hidden="true"></i> Back to Login</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>