<app-top-nav></app-top-nav>
<div class="ts-main-content">
	<app-side-nav></app-side-nav>
	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h2 class="page-title">Create Brand</h2>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">Create Brand</div>
								<div class="panel-body col-md-6">
									<form name="form" [formGroup]="createBrandForm" (ngSubmit)="onSubmit()">

										<div class="form-group">
											<label for="brandName">Enter Brand Name</label>
											<input id="brandName" type="text" formControlName="brandName"
												[ngClass]="{ 'is-invalid': submitted && f.brandName.errors }" />
											<div *ngIf="submitted && f.brandName.errors" class="alert-danger">
												<div *ngIf="f.brandName.errors.required">Brand Name is required</div>
											</div>
										</div>
										<div class="form-group">
											<button class="btn btn-primary" name="submit" type="submit">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>