<app-header></app-header>
<section id="banner" class="banner-section">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-5 col-md-push-7">
          <div class="banner_content">
            <h1>Find the right car for you.</h1>
            <p>We have more than a thousand cars for you to choose. </p>
            <a href="#" class="btn" [routerLink]="['/user/carlisting']">Read More <span class="angle_arrow"><i
                  class="fa fa-angle-right" aria-hidden="true"></i></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding gray-bg">
  <div class="container">
    <div class="section-header text-center">
      <h2>Find the Best <span>CarForYou</span></h2>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
        to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
        text.</p>
    </div>
    <div class="row">
      <div class="recent-tab">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#resentnewcar" role="tab" data-toggle="tab">New Car</a></li>
        </ul>
      </div>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="resentnewcar">
          <div class="col-list-3" *ngFor=" let car of allCars;">
            <div class="recent-car-list">
              <div class="car-info-box">
                <a [routerLink]="['/user/vehDetails', car.id]">
                  <img src="http://localhost/VehicalDisplaySystem/assets/images/{{car.Vimage1}}" class="img-responsive"
                    alt="image">
                </a>
                <ul>
                  <li><i class="fa fa-car" aria-hidden="true"></i>{{car.typeName}}</li>
                  <li><i class="fa fa-calendar" aria-hidden="true"></i>{{car.ModelYear}} Model</li>
                  <li><i class="fa fa-user" aria-hidden="true"></i>{{car.SeatingCapacity}} seats</li>
                </ul>
              </div>
              <div class="car-title-m">
                <h6><a [routerLink]="['/user/vehDetails', car.id]">{{car.BrandName}} , {{car.VehiclesTitle}}</a></h6>
                <span class="price">RS.{{car.PricePerDay}}</span>
              </div>
              <div class="inventory_info_m">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fun-facts-section">
  <div class="container div_zindex">
    <div class="row">
      <div class="col-lg-3 col-xs-6 col-sm-3">
        <div class="fun-facts-m">
          <div class="cell">
            <h2><i class="fa fa-calendar" aria-hidden="true"></i>40+</h2>
            <p>Years In Business</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6 col-sm-3">
        <div class="fun-facts-m">
          <div class="cell">
            <h2><i class="fa fa-car" aria-hidden="true"></i>1200+</h2>
            <p>New Cars For Sale</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6 col-sm-3">
        <div class="fun-facts-m">
          <div class="cell">
            <h2><i class="fa fa-car" aria-hidden="true"></i>1000+</h2>
            <p>Used Cars For Sale</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6 col-sm-3">
        <div class="fun-facts-m">
          <div class="cell">
            <h2><i class="fa fa-user-circle-o" aria-hidden="true"></i>600+</h2>
            <p>Satisfied Customers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-overlay"></div>
</section>
<section class="section-padding testimonial-section parallex-bg">
  <div class="container div_zindex">
    <div class="section-header white-text text-center">
      <h2>Our Satisfied <span>Customers</span></h2>
    </div>
    <div class="row">
      <div id="testimonial-slider" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
        <div class="owl-wrapper-outer">
          <div class="owl-wrapper"
            style="width: 2340px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);">
            <div class="owl-item" style="width: 585px;" *ngFor="let allTest of allTestimonials">
              <div class="testimonial-m">
                <div class="testimonial-content">
                  <div class="testimonial-heading">
                    <h5>{{allTest.FullName}}</h5>
                    <p>{{allTest.Testimonial}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-controls clickable" style="display: none;">
          <div class="owl-pagination">
            <div class="owl-page active"><span class=""></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-overlay"></div>
</section>
<app-footer></app-footer>
<router-outlet></router-outlet>