<app-top-nav></app-top-nav>
<div class="ts-main-content">
	<app-side-nav></app-side-nav>
	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h2 class="page-title">Manage Subscribers</h2>
					<div class="panel panel-default">
						<div class="panel-heading">Subscribers Details</div>
						<div class="panel-body">
							<div id="zctb_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
								<div class="row">
									<div class="col-sm-6">
										<div class="dataTables_length" id="zctb_length"><label>Show <select name="zctb_length"
													aria-controls="zctb" class="form-control input-sm">
													<option value="10">10</option>
													<option value="25">25</option>
													<option value="50">50</option>
													<option value="100">100</option>
												</select> entries</label></div>
									</div>
									<div class="col-sm-6">
										<div id="zctb_filter" class="dataTables_filter"><label>Search:<input type="search"
													class="form-control input-sm" placeholder="" aria-controls="zctb"></label></div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<table class="display table table-striped table-bordered table-hover dataTable" cellspacing="0"
											width="100%" role="grid" aria-describedby="zctb_info" style="width: 100%;">
											<thead>
												<tr role="row">
													<th class="sorting_asc" tabindex="0" aria-controls="zctb" rowspan="1" colspan="1"
														aria-sort="ascending" aria-label="#: activate to sort column descending"
														style="width: 92px;">#</th>
													<th class="sorting" tabindex="0" aria-controls="zctb" rowspan="1" colspan="1"
														aria-label="Email Id: activate to sort column ascending" style="width: 207px;">Email Id</th>
													<th class="sorting" tabindex="0" aria-controls="zctb" rowspan="1" colspan="1"
														aria-label="Subscription Date: activate to sort column ascending" style="width: 375px;">
														Subscription Date</th>
													<th class="sorting" tabindex="0" aria-controls="zctb" rowspan="1" colspan="1"
														aria-label="Action: activate to sort column ascending" style="width: 179px;">Action</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let subs of allSubscribers;let i = index">
													<th>{{i+1}}</th>
													<th>{{subs.SubscriberEmail}}</th>
													<th>{{subs.PostingDate}}</th>
													<th><a (click)="delSubscriber(subs.id)"><i class="fa fa-trash"
																style="color: red; font-size: 18px;"></i></a></th>

												</tr>
											</tbody>
											<tbody *ngIf="allSubscribers == null">
												<tr>
													<td colspan="4" style="text-align:center;">No data found</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-5">
										<div class="dataTables_info" id="zctb_info" role="status" aria-live="polite">
											Showing 0 to 0 of 0 entries</div>
									</div>
									<div class="col-sm-7">
										<div class="dataTables_paginate paging_simple_numbers" id="zctb_paginate">
											<ul class="pagination">
												<li class="paginate_button previous disabled" id="zctb_previous"><a href="#"
														aria-controls="zctb" data-dt-idx="0" tabindex="0">Previous</a></li>
												<li class="paginate_button next disabled" id="zctb_next"><a href="#" aria-controls="zctb"
														data-dt-idx="1" tabindex="0">Next</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>