<app-header></app-header>
<section class="user_profile inner_pages">
  <div class="container">
    <div class="user_profile_info gray-bg padding_4x4_40">
      <div class="upload_user_logo"> <img src="http://localhost/VehicalDisplaySystem/assets/images/dealer-logo.jpg" alt="image">
      </div>
      <div class="dealer_info">
        <h5>Swapnil Kadu</h5>
        <p><br>
          &nbsp;</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <app-profile-nav></app-profile-nav>
      </div>
      <div class="col-md-6 col-sm-8">
        <div class="profile_wrap">
          <form class="login-container" [formGroup]="updatePassForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="password" class="form-control" formControlName="oldpassword"
                placeholder="Current Password *">
              <div *ngIf="isSubmitted && f.oldpassword.errors" class="alert-danger">
                <div *ngIf="f.oldpassword.errors.required">Old Password is required</div>
              </div>
            </div>
            <div class="form-group col">
              <input type="password" placeholder="Password" formControlName="newpassword" class="form-control"
                [ngClass]="{ 'is-invalid': isSubmitted && f.newpassword.errors }" />
              <div *ngIf="isSubmitted && f.newpassword.errors" class="alert-danger">
                <div *ngIf="f.newpassword.errors.required">New Password is required</div>
                <div *ngIf="f.newpassword.errors.minlength">New Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group checkbox">
              <input type="password" class="form-control" formControlName="confirmnewpassword"
                placeholder="Confirm New Password *">
              <div *ngIf="isSubmitted && f.confirmnewpassword.errors" class="alert-danger">
                <div *ngIf="f.confirmnewpassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmnewpassword.errors.mustMatch">Passwords must match</div>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" name="updatepassword" value="Update Password" class="btn btn-block">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>