<nav class="ts-sidebar">
    <ul class="ts-sidebar-menu">

        <li class="ts-label">Main</li>
        <li><a [routerLink]="['/admin/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>

        <li>
            <a [routerLink]="['/admin/createBrand']" class="parent"><i class="fa fa-files-o"></i>
                Create Brandz</a>
        </li>
        <li>
            <a [routerLink]="['/admin/manageBrand']" class="parent"><i class="fa fa-files-o"></i>
                Manage Brands</a>
        </li>
        <li>
            <a [routerLink]="['/admin/postVeh']" class="parent"><i class="fa fa-sitemap"></i> Post a Vehicle</a>
        </li>
        <li>
            <a [routerLink]="['/admin/manageVeh']" class="parent"><i class="fa fa-sitemap"></i> Manage Vehicle</a>
        </li>
        <li>
            <a [routerLink]="['/admin/manageBooking']"><i class="fa fa-users"></i> Manage Booking</a>
        </li>

        <li>
            <a [routerLink]="['/admin/manageTestimonial']"><i class="fa fa-table"></i> Manage Testimonials</a>
        </li>
        <li>
            <a [routerLink]="['/admin/manageContactUsQuery']"><i class="fa fa-desktop"></i> Manage Conatctus Query</a>
        </li>
        <li>
            <a [routerLink]="['/admin/registeredUsers']"><i class="fa fa-desktop"></i> Reg Users</a>
        </li>
        <!-- <li>
            <a [routerLink]="['/admin/managePages']"><i class="fa fa-desktop"></i> Manage Pages</a>
        </li> -->
        <li>
            <a [routerLink]="['/admin/updateContact']"><i class="fa fa-desktop"></i> Update Contact Info</a>
        </li>
        <li>
            <a [routerLink]="['/admin/manageSubscribers']"><i class="fa fa-desktop"></i> Manage Subscribers</a>
        </li>
    </ul>
</nav>